# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/fjeyytqhry/repositories/quonote_app"
PassengerBaseURI "/"
PassengerAppType node
PassengerStartupFile server.cjs
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
