# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/fjeyytqhry/repositories/New-folder"
PassengerBaseURI "/"
PassengerAppType node
PassengerStartupFile server.cjs
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
