# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/olgmxestep/repositories/quonote-app"
PassengerBaseURI "/"
PassengerAppType node
PassengerStartupFile server.cjs
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
